[2020-05-26 07:47] jubalh opened #1 "Add sway pattern to openSUSE"
Hi,

I planned to have a Sway pattern for a long time so users can easily install Sway and get all the tools.
I also planned to have a default theme provided which was mostly the reason I didn't create the pattern yet (because I didn't have a nice theme :-)).

Since I have holidays this week I quickly created the pattern and it is on its way to [Factory](https://build.opensuse.org/request/show/808

[2020-05-26 08:58] denisok commented on #1
nice plan :)

that is from the old pattern.

For the branding, what to start with ? I am really bad with designs, I can create one with what I have here, but it is not the best one.

Also for the pattern, to start everything automatically I haven't solved sway systemd issue, systemd way doesn't work for me (one that described upstream).
Mako, waybar systemd work fine, and I could add some systemd

[2020-05-26 09:03] jubalh commented on #1
Saw it too. Fixed it then.

It's a start :)

As far as I know launching sway with GDM  or any display manager is not supported.
Drew always discourages that use too. I launch sway like described in the [wiki](https://github.com/swaywm/sway/wiki).

We could also auto launch based on some default config if there are problems with systemd?

[2020-05-26 09:06] denisok opened #2 "Create openSUSE brand packages"
- [x] swaywm
- [x] strip user specific settings from waybar conf in this repo
- [x] waybar
- [x] alacritty
- [x] wofi

https://opensuse.github.io/branding-guidelines/

[2020-05-26 09:06] denisok opened #3 "**openSUSEway systemd**"
add systemd service to:
- [ ] sway
- [ ] mako
- [ ] waybar

[2020-05-26 09:06] denisok opened #4 "wofi"
- [x] package
- [x] branding
- [x] run/drun and etc
- [x] submit to Factory

https://build.opensuse.org/package/show/X11:Wayland/wofi

[2020-05-26 09:58] denisok commented on #1
There is only this mention:

GDM supports it just fine. And I have it working for some time now (running sway from wayland-sessions):
https://en.opensuse.org/Sway#GDM

I could add that desktop file to some package.

I didn't know about it.

yes, that is already possible.

[2020-05-26 10:50] jubalh commented on #1
I know about the mention in the wiki. However it is still considered unsupported. Regardless that it works with some display managers just fine (right now).

Once the Pattern had landed in Factory. It will be selectable in the Installer too.
Additionally one could create a custom ISO with kiwi.

[2020-05-26 11:01] jubalh opened #5 "Clipboard"
https://github.com/yory8/clipman with wofi integration might be nice for some users.
(I don't intend to package it, but if you have time..)

[2020-05-29 13:01] denisok commented on #1
BTW sway package installs desktop file by default:

[2020-05-29 15:15] denisok commented on #2
here is a first try for Sway:

https://build.opensuse.org/package/show/home:dkondratenko/sway-branding-openSUSE
https://build.opensuse.org/package/show/home:dkondratenko:branches:X11:Wayland/sway

I haven't tested it yet. And I am adding dependencies that I have in config (like term and app launcher).

Also I need to check if we need branding at all, or it could be just theme, if all modifications

[2020-05-29 15:15] denisok commented on #1
https://github.com/denisok/openSUSEway/issues/2#issuecomment-636029224

[2020-05-31 18:37] itaranto commented on #1
I wouldn't use GDM since it pulls the ENTIRE GNOME DESKTOP when installing, even with --no-recommends.

I have some fixes with the waybar and overall sway colors, maybe I will open PR.

[2020-06-01 10:30] denisok commented on #1
I was surprised about it, you just need to install it correctly :)
I was able to install only minimal gdm dependencies with some tweaks. I need to recall what, but it is possible to avoid patterns-gnome-*

SDDM itself running under X, here is a PR for supporting Wayland natively: https://github.com/sddm/sddm/issues/440

Cool :) go ahead.

[2020-06-01 22:02] itaranto commented on #1
Ok, so it seems I need to tinker with the packages a little bit more.

Good to know, I think most people will need X for compatibility anyway.
I always thought that the compositor is the one that implements Wayland, in this case, Sway.
So, you are saying, in the case of using GDM, both GDM and Sway are Wayland compositors?

[2020-06-04 11:00] denisok commented on #4
https://build.opensuse.org/request/show/798987

I need to update the package to use service files (as Source URL wouldn't work).
See discussion under:
https://build.opensuse.org/package/show/X11:Wayland/wofi

[2020-06-04 11:03] jubalh commented on #4
Maybe you can paste the discussion here in case the comments get deleted in the future.

[2020-06-04 11:06] denisok commented on #4
dkondratenko wrote about 1 month ago

@jengelh are you going to submit it to the Factory ? or should I?

Jan Engelhardt's avatar

jengelh wrote about 1 month ago

Feel free.

I'd like to know if you are ok with using Source URLs (now that I've shown on two packages how to make use of it) for the other 4-or-so pending packages.

Denis Kondratenko's avatar

dkondratenko wrote about 1 month ago

I am

[2020-06-04 11:11] jubalh opened #6 "wayvnc"
- [x] Package dependencies -> https://build.opensuse.org/package/show/X11:Wayland/neatvnc
- [x] Create package -> https://build.opensuse.org/package/show/X11:Wayland/wayvnc
- [x] Find co-maintainers -> agraul
- [x] Submit to Factory -> [SR#812028](https://build.opensuse.org/request/show/812028) [SR#812029](https://build.opensuse.org/request/show/812029)

[2020-06-04 11:12] jubalh commented on #1
Pattern landed in [Factory](https://build.opensuse.org/package/show/openSUSE:Factory/patterns-sway)

[2020-06-04 13:13] denisok commented on #1
@jubalh , I tested pattern.
I selected it during installation. What I have noticed - there is no Icon, when you are trying to select it during installation.

Then there are missing dependencies:
* Mesa
* alacritty

without Mesa I wasn't able to start sway.

[2020-06-04 13:47] jubalh commented on #1
Thanks for testing!
Can you create SRs for the missing deps?

Right, I wanted to take care about the icon too. I didn't yet have time to dig up how it was done.
The icon isn't set in the pattern but in some other way and I'm not sure anymore how it works. Maybe it was in yast/installer directly.

[2020-06-04 14:03] denisok commented on #1
yep, will do later.

I don't know how to set icon, but I will poke around.

[2020-06-04 14:08] jubalh commented on #1
No need, I found it :-)
Will update here once the requests are out.

[2020-06-04 14:27] jubalh commented on #1
since https://github.com/denisok/openSUSEway/issues/2 tracks the theming/branding I'll rename this to pattern.

[2020-06-04 14:30] jubalh commented on #1
Exactly :) I already started on it but didnt have enough time to finish it.

[2020-06-04 16:10] denisok commented on #4
https://build.opensuse.org/request/show/811556

[2020-06-05 06:47] denisok commented on #4
submitted to Factory: https://build.opensuse.org/request/show/811664

[2020-06-05 15:24] denisok commented on #2
openSUSEway brandings: https://build.opensuse.org/request/show/811874
waybar with upstream branding: https://build.opensuse.org/request/show/811850
sway with upstream branding: https://build.opensuse.org/request/show/811849

[2020-06-05 15:45] denisok commented on #2
@jubalh check it out :)

I am a little bit confused so far how we would build dependency tree.
On what would depend on what.

[2020-06-06 07:20] jubalh commented on #6
agraul volunteered to co-maintain wayvnc/neatvnc. Submitting packages to Factory now.

[2020-06-08 13:32] denisok commented on #1
--no-recommends gives me 137 packages on TW, without ~40.
137 doesn't look like entire gnome, it looks ok.

[2020-06-08 19:38] jubalh commented on #6
Both SRs accepted.

[2020-06-08 19:38] #6 closed

[2020-06-09 08:02] denisok commented on #4
SR accepted

[2020-06-09 08:02] #4 closed

[2020-06-15 09:25] denisok opened #7 "sway doesn't work on openSUSE Leap 15.4"
https://code.opensuse.org/leap/features/issue/68

There is a bug with logind/polkit:
https://bugzilla.suse.com/show_bug.cgi?id=1170619

number of packages aren't built for Leap 15.4:
https://build.opensuse.org/project/monitor/X11:Wayland?arch_x86_64=1&defaults=0&repo_15_4=1&unresolvable=1
https://build.opensuse.org/project/monitor/X11:Wayland?arch_x86_64=1&defaults=0&failed=1&repo_15_4=1

[2020-06-19 18:16] denisok opened #8 "screenshots for openSUSE Leap 15.2"
Lubos asked me to add couple of screenshots, so I did.

https://progress.opensuse.org/issues/61410
https://en.opensuse.org/Portal:15.2/Screenshots#Sway_1.4

[2020-06-19 18:16] #8 closed

[2020-06-19 18:17] denisok commented on #8
done, if someone have better screenshots - they could be added.

[2020-06-19 18:24] jubalh commented on #8
First time I see the openSUSE branding. Looks great!

[2020-06-19 18:31] denisok commented on #7
I have no idea what is going on with logind and polkit ... It is a little bit too much to dig into it.
But looks like that is not sway issue.

You could workaround it with:

More info here:
https://github.com/swaywm/wlroots/issues/2236
https://bugs.gentoo.org/708680

I asked systemd experts to help here.

[2020-06-19 18:33] denisok commented on #8
@jubalh I need to progress to get it to Factory...

[2020-06-19 18:58] denisok commented on #2
@jubalh : https://build.opensuse.org/request/show/816069 branding as recommends to the pattern.

[2020-06-19 19:03] jubalh commented on #2
@denisok accepted :)

[2020-06-19 19:05] jubalh commented on #1
https://github.com/jubalh/yast-theme/commit/fe70898fe10754384c36af45697ffb26fa849254 was merged two weeks ago.
But there seems an issue so they didn't update the factory package yet.

See discussion in https://github.com/yast/yast-theme/pull/128

[2020-06-19 19:45] denisok commented on #2
Thanks!

Now lets see what Factory would say.

https://build.opensuse.org/request/show/816082

[2020-06-22 16:31] denisok commented on #2
@jubalh I need changes to the X11:Wayland Project config, so build could resolve correct branding:
[code]

[2020-06-23 09:21] jubalh commented on #2
@jengelh ^

[2020-06-23 09:41] denisok commented on #2
hm, something changed and now fixed.. not sure what

[2020-06-23 14:23] jubalh opened #9 "waysay"
Might be of interest once it has a release: Native wayland desktop notifications https://github.com/JoshMcguigan/waysay

[2020-06-23 15:11] jubalh commented on #1
yast2-theme update on its way to Factory now: https://build.opensuse.org/request/show/816617

[2020-06-24 07:34] denisok opened #10 "reinstalling sway leaves config behind"
We have 50-openSUSE config file in config.d dir.

If someones uninstalls and installs new one, there would be `50-openSUSE.rpmsave` file left behind which is actually still valid for sway and it picks up both.

[2020-06-24 07:37] denisok opened #11 "alracritty config is not applied"
sway branding package is incorrect for alacritty, it seds incorrect file, it should modify base sway config.
I tried to `set $term` from config.d config file, but it didn't work.
Need more investigation:
* if there is posibility to reset $term under config.d
* maybe modify base sway config in %post

[2020-06-25 11:42] agraul commented on #3
According to https://github.com/emersion/mako#running, `mako` does not need to be started manually (it is dbus activated) unless multiple notification daemons are installed.

[2020-06-25 12:51] denisok commented on #3
hm, thanks. Have you tested it ? @agraul
I have `exec mako` in the conf now.

[2020-06-25 12:58] agraul commented on #3
I also had `exec mako` in my conf, but I just ran `killall mako && ps aux | grep mako; notify-send "test"` and saw a notification - no mako process was visible in the `ps aux`

[2020-06-25 13:01] denisok commented on #3
aha, good to know ) you can submit PR removing that ) Or I will do it occasionally later.

[2020-06-29 13:02] jubalh commented on #1
![show-opensuseway-pattern](https://user-images.githubusercontent.com/1658215/86008723-764e1980-ba19-11ea-9792-98b819551fcf.png)

[2020-06-29 13:02] #1 closed

[2020-06-29 13:39] denisok commented on #1
congrats! I also captured that couple of minutes ago :)

[2020-06-30 07:58] denisok commented on #2
![20200630_09h57m15s_grim](https://user-images.githubusercontent.com/1289121/86099755-32f6b800-bab8-11ea-9754-1ba035621b5c.png)

[2020-06-30 07:58] denisok commented on #2
brandig has landed, there are few bugs, but they are tracked separately.

[2020-06-30 07:58] #2 closed

[2020-06-30 11:00] denisok commented on #7
I also looked to the other packages under X11:Wayland that doesn't build.

waybar:
* spdlog is too old in 15.2, it was rejected here: https://build.opensuse.org/request/show/765612

need to look into swayidle.

[2020-06-30 14:27] denisok opened #12 "openSUSEway desktop"
is Tumbleweed based Desktop environment.
It is based on Wayland and sway.

[2020-06-30 14:27] denisok commented on #12
new system role?
https://github.com/yast/skelcd-control-openSUSE/blob/master/control/control.openSUSE.xml#L336

[2020-06-30 14:28] denisok commented on #12
@jubalh what do you think we should include in the desktop env?
browser
sudo,git, jq tools?

[2020-06-30 14:41] denisok commented on #12
Something bare minimum that I would require to start: firefox, sudo, git, jq, wget, curl, vim (or whatever basic editor), tar, gzip, bzip2, less, grep, network manager.

[2020-06-30 15:33] jubalh commented on #12
good question :)

What about pavucontrol/pulseaudio?
Depending on how DE like you want to have if vifm (file manager), alpine/mutt for mail, imv image viewer.

[2020-06-30 15:46] jubalh commented on #12
I use mpv for videos.

[2020-06-30 15:50] denisok commented on #12
that is already a dependency for waybar/pattern

[2020-07-01 08:33] denisok commented on #12
GTK, QT themes?

(I leave it here as interesting example) https://github.com/kennylevinsen/dotfiles/blob/master/sway#L43

[2020-07-01 09:44] denisok opened #13 "Screen sharing"
https://wiki.archlinux.org/index.php/PipeWire#WebRTC_screen_sharing

https://github.com/emersion/xdg-desktop-portal-wlr
https://github.com/flatpak/xdg-desktop-portal

https://github.com/swaywm/sway/issues/4358

https://pipewire.org/

[2020-07-01 09:47] m-rey commented on #10
How about renaming the `50-openSUSE` config to `50-openSUSE.conf` and only including `.conf` files in the sway config?
You'd have to also change the include in the sway config to `include /etc/sway/config.d/*.conf`

[2020-07-01 09:51] m-rey commented on #11
Is this an alacritty specific issue that wouldn't happen with other terminals, like [kitty](https://github.com/kovidgoyal/kitty/)?

[2020-07-01 09:52] denisok commented on #11
it is specific to openSUSE-branding packages for sway. If you use your custom sway configs, it shouldn't matter.

[2020-07-01 09:53] m-rey commented on #9
Why should `waysay` be used here, if `swaynag` is already available and even the documentation on https://github.com/JoshMcguigan/waysay#waysay-vs-swaynag states that ```Most users will be better off using swaynag```?

[2020-07-01 09:53] denisok commented on #10
@m-rey good idea, would do that later, or you could branch package and do it )

[2020-07-01 09:55] denisok commented on #10
and PR for this repo is required, to change that.

[2020-07-01 09:58] m-rey commented on #12
I'd keep it fairly minimal, as many people like the simplicity and cleanliness of sway. https://github.com/openSUSE/openSUSEway/issues/12#issuecomment-651838166 covers the basics. Maybe add in `mpv` to the mix. I wouldn't choose a specific email client like alpine/mutt/neomutt/aerc, but just let the user decide.

[2020-07-01 10:10] m-rey commented on #5
It is already packaged for the XFCE panel for Leap 15.1: https://build.opensuse.org/package/show/openSUSE%3ALeap%3A15.1/xfce4-panel-plugin-clipman
Someone packaged it for Tumbleweed, but it's neither in devel nor factory: https://build.opensuse.org/package/show/home%3AAndnoVember%3AXFCE/xfce4-panel-plugin-clipman

Maybe those two projects could help with packaging and submitting `clipman` to facto

[2020-07-01 11:02] denisok commented on #12
maybe GTK and QT are out of scope, which means some default Adwaita or something. I don't care, but maybe there is some more fancy more basic theme that I am not aware of :)

e-mail client is hard, I think ppl that would use sway are knowledgeable enough to install what they need.

[2020-07-01 12:19] jubalh commented on #9
It don't get your question. This issue is about packaging waysay, so we don't forget about it. We also package waybar even though we already have a bar. Why shouldn't we package waysay?

[2020-07-01 12:22] jubalh commented on #12
I would definitely add mpv and imv.
What other use is it to create a "desktop" if you don't ship default applications?

Then people can just use the pattern or install by themselves.

[2020-07-01 12:55] m-rey commented on #9
It wasn't clear to me that this issue was created as a reminder to package `waysay` once it has a release.
Packaging it is of course a good thing!

[2020-07-01 13:30] denisok commented on #10
https://github.com/openSUSE/openSUSEway/releases/tag/0.4 @m-rey you can use that for package.

[2020-07-06 09:08] jubalh commented on #5
There also is https://github.com/bugaevc/wl-clipboard

[2020-07-06 10:47] jubalh commented on #5
@rtyler any reason why you don't add it to Factory?

[2020-07-06 11:08] jubalh commented on #5
Actually..
After one year without an answer I added myself as maintainer too. And [SR#818986](https://build.opensuse.org/request/show/818986) will bring this to Factory.

[2020-07-06 16:53] rtyler commented on #5
:shrug:  I never saw the comments, I sort of lost track of it after I put it into X11:Wayland. Thanks for taking it the last mile @jubalh

[2020-07-13 09:22] agraul commented on #13
I think this is also related: https://www.reddit.com/r/swaywm/comments/hlwalf/question_why_was_rdp_removed_from_sway/ (https://github.com/swaywm/wlroots/pull/1988)

Another piece of resource I found: https://soyuka.me/make-screen-sharing-wayland-sway-work/

[2020-07-14 11:35] #11 closed

[2020-07-14 13:33] denisok commented on #12
OK first try here:
https://build.opensuse.org/request/show/820898

[2020-07-14 13:34] denisok commented on #12
still I think we need to choose some GTK/QT themes, for example if I open pavucontrol it is all white by default, I would vote for the some dark theme.

[2020-07-14 13:36] denisok commented on #10
would be released here:
https://build.opensuse.org/request/show/820898

[2020-07-14 13:36] #10 closed

[2020-07-14 13:37] denisok commented on #12
some other packages we could add:
* command-not-found

[2020-07-14 15:53] jubalh commented on #12
I agree. Not sure which is a nice and basic one though.

[2020-07-15 18:25] agraul commented on #13
I just saw that `xdg-desktop-portal-wlr` is on its way to Tumbleweed https://build.opensuse.org/request/show/820843

[2020-07-27 12:14] denisok opened #17 "Try and add wob package"
https://github.com/francma/wob

[2020-07-27 23:47] m-rey commented on #17
https://build.opensuse.org/package/show/home:mrey/wob

Feedback, improvements, comments and obs requests are very welcome.

[2020-07-28 07:00] jubalh commented on #17
Looking good! You can push it to a devel

[2020-07-29 06:03] jubalh commented on #17
https://build.opensuse.org/request/show/823286 accepted to X11:Wayland

[2020-07-29 08:27] agraul opened #18 "Update wayvnc to 0.2.0 and its dependencies"
- wayvnc: https://github.com/any1/wayvnc/releases/tag/v0.2.0
- neatvnc: https://github.com/any1/neatvnc/releases/tag/v0.2.0
- aml (required by neatvnc 0.2.0): https://github.com/any1/aml/releases/tag/v0.1.0

[2020-07-30 08:25] m-rey commented on #17
Now also available in Factory! https://build.opensuse.org/package/show/openSUSE:Factory/wob

[2020-07-30 12:42] denisok commented on #17
@m-rey thanks! will try it and probably integrate in openSUSEway pattern.

[2020-07-30 12:42] #17 closed

[2020-07-30 12:43] denisok commented on #12
integrate wob from #17 to the pattern.

[2020-07-31 09:08] denisok opened #19 "Add system role for openSUSEway desktop"
https://github.com/yast/skelcd-control-openSUSE/blob/master/control/control.openSUSE.xml#L336

This would need openQA tests first.

[2020-07-31 09:12] denisok commented on #12
I think this is completed. openSUSEway pattern and desktop environment was added and is in Installation, where anyone could choose it from the start.
I am updating it to 0.8 and I think I close this one.

To get system role I have #19 .

@jubalh I suggest we remove openSUSE-branding from pattern-sway and add upstream-branding there instead.
So we would have clean, minimal sway upstream from your p

[2020-07-31 09:17] denisok commented on #12
update to 0.8:
https://build.opensuse.org/request/show/823705

that adds environments to get QT, GTK to support better Wayland.

That also adds wob for volume and brightness indicator.

[2020-07-31 09:23] denisok opened #20 "Icon for openSUSEway"
Right now openSUSEway pattern points to the same icon as pattern-sway.

It might be confusing, so I suggest we customize that icon with some openSUSe mascot, or have some new icon.

@jubalh @m-rey @agraf if you have any ideas or know ppl with design skills - bring it on :)

[2020-07-31 09:52] denisok opened #21 "Allow root app to run on the user session"
Gnome and KDE on Wayland allow to run some app that need root permission under the same session. How they do it?

Is that some Polkit feature?

[2020-07-31 20:52] jubalh commented on #12
So we would have clean, minimal sway upstream from your pattern and openSUSEway would have branding and all other packages.
What do you think?

Sure! Makes sense. In case I forget to do it feel free to send a SR.

[2020-08-02 10:48] denisok commented on #12
@jubalh alright:
https://build.opensuse.org/request/show/823980

And latest desktop version also landed to Factory. closing this ticket!

[2020-08-02 10:48] #12 closed

[2020-08-03 06:32] jubalh commented on #12
SR#823980 accepted, thanks!

[2020-08-03 14:54] denisok opened #22 "gnome-shell coredumped after installing openSUSEway"
after installing openSUSEway it is not possible to enter Gnome Wayland session any more.

[2020-08-03 14:57] denisok commented on #22
PID: 4277 (gnome-shell)
           UID: 1000 (denis)
           GID: 100 (users)
        Signal: 5 (TRAP)
     Timestamp: Mon 2020-08-03 16:40:53 CEST (15min ago)
  Command Line: /usr/bin/gnome-shell
    Executable: /usr/bin/gnome-shell
 Control Group: /user.slice/user-1000.slice/user@1000.service/gnome-shell-wayland.service
          Unit: user@1000.service
     User Unit: gnome-shell-wayland.ser

[2020-08-03 15:00] denisok commented on #22
This is caused by https://github.com/openSUSE/openSUSEway/blob/master/.config/sway/config.d/50-openSUSE.conf#L52

[2020-08-03 15:01] denisok commented on #22
workaround is to set it back to:
`gsettings set org.gnome.desktop.interface cursor-theme 'Adwaita'`

[2020-08-03 15:33] denisok commented on #22
https://gitlab.gnome.org/GNOME/mutter/-/issues/355

[2020-08-03 16:27] denisok commented on #22
so there is `Adwaita-dark` theme but there is no `icon` or `cursor` sets for it. Need more clarification.

[2020-08-04 10:19] denisok opened #23 "brightness is not indicaded by wob"
wob exits with error:
* as pipe could be already created
* as brightness reported > 100

[2020-08-04 10:21] #23 closed

[2020-08-04 10:24] #22 closed

[2020-08-05 11:44] denisok commented on #13
so I installed `xdg-desktop-portal-wlr` and it works. At least I can share current screen. If there are more screens, there is no choice to make.

[2020-08-05 12:16] denisok commented on #13
https://github.com/swaywm/sway/pull/5607
for systemd, and I would update profile.d to set it there as well.

[2020-08-05 12:21] denisok commented on #13
https://github.com/emersion/xdg-desktop-portal-wlr/issues/12

[2020-08-05 14:48] denisok commented on #13
So actually only thing that is need to be setup correctly is the `XDG_SESSION_TYPE` if sway starts from tty.
Graphical login managers, like GDM do set it correctly.

For tty this needs to be landed:
https://github.com/swaywm/wlroots/pull/2304

[2020-08-05 15:01] denisok commented on #13
https://build.opensuse.org/request/show/824519
submitted dependencies to the OBS.
`XDG_SESSION_TYPE` for the tty would be fixed upstream.

[2020-08-05 15:01] #13 closed

[2020-08-06 21:56] agraul commented on #18
Requests to X11:Wayland: 824743, 824744, 824745

[2020-08-06 22:02] agraul commented on #21
I think GNOME uses `libgnomesu` for that, but I don't know how it works.

[2020-08-07 09:14] jubalh commented on #18
Thanks! All accepted and forwarded to Factory.

[2020-08-09 20:55] #18 closed

[2020-08-09 23:21] itaranto opened #24 "Do not force Qt Theme"
Do not force Qt Theme in /etc/sway/env or /usr/lib/environment.d/50-openSUSE.conf.
Thanks.

[2020-08-09 23:46] itaranto opened #25 "The openSUSEWay package does not play good with X Sessions"
I see there are two places in which some Wayland-specific environment variables are set: /etc/sway/env and /usr/lib/environment.d/50-openSUSE.conf.

This breaks some applications if you are using an X-based desktop/WM, in my case I use i3 aside from Sway.

This configuration should be Sway-only, it should not pollute the env vars for every other session.

[2020-08-10 08:38] denisok commented on #24
I have forced it just to get understanding about what Sway openSUSE distro is about ?
Just Sway without any tuning is a different thing, usually theming is there to kind get all together.

Maybe something like "prefer" some dark theme in QT is more appropriate, if there is such thing.

What do you think?

[2020-08-10 08:42] denisok commented on #25
I would like, but what is the way

 I would say maybe openSUSEway is more for the newcomers that just install it from scratch as a first step into the tiling wm.
patterns-sway-sway doesn't do this crazy tunes.

[2020-08-13 09:54] jm2dev opened #26 "Cannot copy and paste from/to chromium browser"
I find impossible to copy/paste anything in chromium browser. It works fine (CTRL+C, CTRL+V, selection and mouse middle button).

I installed swaywm as instructed per the README file, on a vanilla opensuse tumbleweed system.

[2020-08-13 10:39] jubalh commented on #26
I have the same problem on Firefox under GNOME Wayland.
AFAIK it's a common problem that sometimes happens under Wayland but I'm not sure about the details.

[2020-08-13 11:23] jm2dev commented on #26
Thanks for your response.
It probably works for me because of the environment variables defined in the env file, and I wonder if another one is required for chromium to work. So far I haven't found a satisfactory solution, other than open a plain text file in chromium to paste content from, which isn't ideal.

[2020-08-13 12:36] denisok commented on #26
hm, I don't use Chromium, but could reproduce. I could copy-paste inside chromium, and actually from chromium to some apps, for example Telegram, Visual Studio Code.

I see with `xeyes` that Chromium is running in X mode, Code as well, but Telegram is not....

[2020-08-13 12:53] denisok commented on #26
BTW I tried Chrome and it works fine, so looks like Chromium misses some components.

https://bugs.chromium.org/p/chromium/issues/detail?id=986835

[2020-08-13 13:37] denisok commented on #26
looks like Chromium is built with wayland support.

But who knows what bug is it:
https://bugs.chromium.org/p/chromium/issues/list?q=clipboard%20wayland

[2020-08-17 20:00] itaranto commented on #25
I get your point. I appreciate your effort to make it easier to run Sway on openSUSE.

Feel free to close this if you want.

[2020-08-17 20:07] itaranto commented on #24
It makes sense to have good defaults, but they should be "overridable".

Anyway I'm sad to admit I'm using Arch Linux in my main machine right now LOL.

So, I don't think I will be of much help here. Good Luck!

[2020-08-20 13:58] m-rey commented on #24
I was using sway already before installing openSUSEway. After the installation, suddenly everything was in dark theme. This was unexpected for me. I'd recommend to at least allow to choose between light and dark variants of the sway openSUSE distro.

Documenting what the openSUSEway package does and how certain things can be changed (eg the theme) would be very helpful.

[2020-08-20 15:08] jubalh commented on #24
This happens with all other DEs too. If you choose to install a variant with special configs this is what will happen..

[2020-08-20 19:36] m-rey commented on #24
Indeed, I completely agree.

Just wanted to mention why I would like openSUSEway to have more documentation. It's okay that some defaults are set, but it would be nice to document how the default config can be changed as a short FAQ or something like that.

[2020-08-30 07:40] denisok commented on #25
I think the better way is maybe running DE in container, when it doesn't affect any other DEs in the system. So far I have updated the doc: https://en.opensuse.org/Portal:OpenSUSEway to define incompatibility with other DEs.

If ppl want just to try Sway better way is just https://en.opensuse.org/Sway .

[2020-08-30 07:40] #25 closed

[2020-08-30 07:43] denisok commented on #24
@m-rey :
https://en.opensuse.org/Portal:OpenSUSEway
https://en.opensuse.org/Portal:OpenSUSEway/Configuration

it is documented a little bit. I could add more, what do you think is missed?

As for QT scheme, I think there is a way to configure it through the ini config file. I forced it with env var just for simplicity :) I would check if I can customize correctly with configs.

[2020-08-30 07:55] denisok commented on #26
@jm2dev I would close this if you don't mind, that is bug for upstream (Chromium). Feel free to reopen,

[2020-08-30 07:55] #26 closed

[2020-08-30 09:03] denisok commented on #24
alright, solution for this is to use `qt5ct` config file, setting it on system level at `/etc/xdg/qt5ct/qt5ct.conf`:
[code]
We already have `QT_QPA_PLATFORMTHEME=qt5ct` so it would set correct theme.

I will submit patch.

[2020-08-30 09:25] #24 closed

[2020-08-30 09:42] denisok commented on #24
packages on their way (sway-branding-openSUSE to change env and openSUSEway with `qt5ct.conf`):
https://build.opensuse.org/request/show/830582

[2020-09-08 14:40] denisok opened #27 "default login manager for openSUSEway"
I have an idea of lightweight and basic login manager that will work better with sway.

I think greetd with gtkgreet could become such:
https://build.opensuse.org/request/show/833018
https://build.opensuse.org/request/show/833019

That could also avoid setting env inside profile or environment and set it from the greeter instead.

[2020-09-08 14:44] denisok commented on #27
@jubalh @agraul @m-rey what would you think about greetd as default login manager ?

Adding `gfxboot` to openSUSEway pattern would make it complete DE experience from boot to login to sway :)

[2020-09-08 14:45] denisok commented on #27
I use it locally now, and it works just fine, I replaced GDM with it, and I notice almost no difference, except that it is faster.

[2020-09-08 19:55] jubalh commented on #27
Oh nice! I wasn't aware of those projects!
I'm all for it. Do you have any picture previews or video?

[2020-09-08 21:13] m-rey commented on #27
Sounds like a good idea!

[2020-09-09 08:48] denisok commented on #27
@jubalh will try it on VM and attach some :)

[2020-09-09 10:57] denisok opened #28 "Don't force enviroment in profile.d and enviroment.d"
https://bugzilla.suse.com/show_bug.cgi?id=1176195

Now I realize the right way to go.

Use case scenarios:
1. upstream Sway
2. branded Sway
3. openSUSEway

1 sway or patterns-sway-sway packages with default branding
this one doesn't have any customization and ppl either already have their own config or would do all the steps documented upstream.

2 sway-openSUSE-branding package
provide custom des

[2020-09-10 08:30] denisok commented on #27
![20200910_10h28m31s_grim](https://user-images.githubusercontent.com/1289121/92701732-a175b300-f350-11ea-8303-68b902d67f18.png)

[2020-09-10 09:35] denisok commented on #27
tui greet:
![20200910_11h33m46s_grim](https://user-images.githubusercontent.com/1289121/92712351-cae70c80-f359-11ea-97e2-3d2dc3011581.png)

[2020-09-11 08:55] jubalh commented on #27
Cool! In the past I had an item on my todo list to write such an application myself. Now I can check that off ;D

[2020-09-11 09:39] #27 closed

[2020-09-11 09:39] #28 closed

[2020-09-11 13:21] agraul commented on #20
@hellcp do you have time and are looking to pick something else up? Now that you are on the board you *must* have a lot of free time ;P

[2020-09-11 15:30] denisok commented on #25
fixed by #29

[2020-09-11 16:05] hellcp commented on #20
I'm surprised I wasn't pinged earlier ;)

[2020-09-11 16:15] hellcp commented on #20
Let's start with something simple, pattern icon that fits the rest of the icons:
https://gist.github.com/hellcp/2b8e424fd27f9fe2088cd68f9f71797f

Now from this we can go two ways, subicon with geeko button like pattern-$desktop-$type icons in yast-theme (https://github.com/yast/yast-theme/blob/master/icons/hicolor/scalable/apps/pattern-kde-addon.svg), or openSUSE green instead of the green used he

[2020-09-11 19:19] denisok commented on #20
I have no idea about design :))  but I like it.
Geeko button means geeko there ?

maybe you can take a look into the whole openSUSEway design and propose some better color schemes and etc..

[2020-09-11 19:25] hellcp commented on #20
Buttons are those things we use for small size artwork to represent something openSUSE related https://github.com/openSUSE/artwork/blob/master/logos/buttons/button-colour.svg

[2020-09-12 09:46] jubalh commented on #20
@hellcp here would be a screenshot of that: https://en.opensuse.org/File:Sway_openSUSE_15.2.png

[2020-09-12 17:48] hellcp commented on #20
Well, the fact that Leap 15.2 version is using TW wallpaper, it's a touch troubling, I don't have much more feedback

[2020-09-13 10:21] denisok commented on #20
openSUSEway supports only TW, that just weird name )

[2020-09-19 23:02] itaranto opened #30 "Remove dmenu as dependency for patterns-sway-sway"
**patterns-sway-sway** already contains wofi, which is an application launcher, so dmenu does not make much sense.

I didn't know were to post this, please let me know if [bugzilla](https://bugzilla.opensuse.org/enter_bug.cgi) is a better place for tracking this.

[2020-09-21 12:44] denisok commented on #30
It is fine here. Will do next time I will be submitting something to OBS.

[2020-09-22 09:09] jubalh commented on #30
https://build.opensuse.org/request/show/836046

[2020-09-22 09:09] #30 closed

[2020-12-29 11:27] denisok commented on #21
need to add `polkit-gnome` package and this to conf:
`exec /usr/libexec/polkit-gnome-authentication-agent-1`

[2021-01-17 23:12] dionisiovj opened #32 "Include pamixer in the pattern"
The sway configuration (/etc/sway/config.d/50-openSUSE.conf) uses pamixer to control the volume, however it is not included in the pattern (running Tumbleweed).

After manually installing with zypper, everything works as expected

[2021-01-18 09:22] jubalh commented on #32
How did you install openSUSEway?
https://build.opensuse.org/package/view_file/X11:Wayland/openSUSEway/openSUSEway.spec?expand=1 line 51 adds pamixer.

[2021-01-18 13:05] dionisiovj commented on #32
Sorry, I confused `sway-branding-openSUSE` with `openSUSEway` (I installed the former). I am new to openSUSE so I don't know if you are also in charge of the patterns/branding/wiki but here are a couple suggestions in case any of them is possible:
- Move `pamixer` to `sway-branding-openSUSE`: The sway configuration file that uses `pamixer` is included in this package and other dependencies like `p

[2021-01-18 13:36] denisok commented on #32
Hi @dionisiovj,

nice catch. I would further separate conf file, so pamixer part of it would be installed only with openSUSEway, so it wouldn't be confusing for ppl that just want some visual "sway" branding only.

Thanks,
Denys

[2021-01-19 18:05] #21 closed

[2021-01-19 18:12] denisok commented on #21
added to spec here:
https://build.opensuse.org/request/show/864374

[2021-01-19 18:12] denisok commented on #32
looked on specs and decided that right way to go is to add dependencies to spec as @dionisiovj suggested.
Here are missed dependencies (from conf file) added:
https://build.opensuse.org/request/show/864374

If there would be no objection or some review - I would land it tomorrow.

[2021-01-19 18:18] jubalh commented on #32
Did you remove it (and the config) from sway-branding-openSUSE ?

[2021-01-19 18:22] denisok commented on #32
I added missed packages to the sway-branding-openSUSE, it doesn't affect standard sway patterns.
That conf also installed only with sway-branding-openSUSE.

[2021-01-19 18:29] jubalh commented on #32
What about:

Sounded reasonable to me.

[2021-01-19 18:34] denisok commented on #32
I looked into it, and there is already brightness control and etc. So actually it customizes Sway in a good way.

openSUSEway is more about DE env, including browser and etc.

Removing wob, brightness, pamixer and other stuff leaves almost none branding Sway experience.

[2021-01-20 09:49] denisok commented on #32
OK, it is is on its way to Factory: https://build.opensuse.org/request/show/864611

[2021-01-20 09:49] #32 closed

[2021-01-20 10:08] denisok opened #33 "greetd couldn't find pam.d and potentially its own config file in /usr/etc/"
I have tried to package greetd in a little bit new way, by adding pam.d to `%{_distconfdir}/pam.d/greetd` [line 92](https://build.opensuse.org/package/view_file/X11:Wayland/greetd/greetd.spec?expand=1).

That should put it on `/usr/etc/pam.d` instead of `/etc/` that is a part of `UsrEtc` packaging guideline: https://en.opensuse.org/openSUSE:Packaging_UsrEtc .

I left conf still in `etc` for some r

[2021-01-27 09:28] denisok opened #34 "support for the keyboard, language and mouse setting during install"
If user chooses keyboard layout during install it is not reflected in the Sway config: https://bugzilla.opensuse.org/show_bug.cgi?id=1176196

[2021-01-31 11:05] jubalh commented on #5
@mcepl packaged clipman: https://build.opensuse.org/request/show/868038.

[2021-01-31 11:31] denisok commented on #5
as for closing the issue, should it be first integrated in branding package to adjust Sway config ?

[2021-01-31 11:36] jubalh commented on #5
I foremost opened the issue to just remember to package it.

But we can reopen if you also want it in the config.

Keep in mind that there is also wl-clipboard mentioned above. So you have several options of which one you want to include.

[2021-01-31 13:27] mcepl commented on #5
Just for the sake of clarity: ``wl-clipboard`` just contains ``wl-copy`` and ``wl-paste``. What you meant probably is ``wl-clipboard-manager`` (https://github.com/maximbaz/wl-clipboard-manager).

[2021-02-09 06:09] bobblkabb opened #35 "sway branding upgrade: java problems"
Upgrading sway-branding-openSUSE from 0.12-2.1 to 0.13-1.1 messes java applications up. SAPGui for Java and Freeplane doesn't work properly anymore.
More info on my [bug report](https://bugzilla.opensuse.org/show_bug.cgi?id=1181545).

[2021-02-12 08:23] denisok commented on #35
Thank for the report, I will take a look this weekend

[2021-02-14 09:14] denisok commented on #35
answered in bug report, that maybe dues to env variables:
https://wiki.archlinux.org/index.php/Sway#Java_applications

depends on how you start sway.

[2021-02-21 09:41] denisok commented on #35
fixed in https://bugzilla.opensuse.org/show_bug.cgi?id=1181545

environment is not set, it should be either set by sway-branding-openSUSE scripts or manually:
https://github.com/swaywm/sway/wiki/Systemd-integration

[2021-02-21 09:41] #35 closed

[2021-02-22 10:23] denisok commented on #33
https://bugzilla.opensuse.org/show_bug.cgi?id=1182554

[2021-02-22 10:41] denisok opened #36 "gtkgreet now support css scheme and removed "prefered dark""
after update to 0.7 gtkgreet now looks to bright for my taste :) there is possibility now to add css style or maybe use TW background image `gtkgreet -l -b /usr/share/wallpapers/default-1920x1080.jpg;`  in `/etc/greetd/sway-config`

[2021-02-22 12:13] thkukuk commented on #33
Never ever hardcode fix paths in tools which are different or incomplete compared to what the low level libraries are using.
Linux-PAM is using and looking in more paths than just /etc/pam.d and /usr/etc/pam.d and they are all supported by us.

[2021-02-22 12:15] denisok commented on #33
@thkukuk I might agree, but I am not a tool dev. I wait for some time to see how they implemented it in the tool with Rust and why they uses fixed pass...

[2021-02-22 12:27] denisok commented on #33
@thkukuk when you already here :) please suggest what is the right path for the conf file. I listed those options:
For the conf file there are couple of ways:

    easiest: fix spec to still place to /etc/
    easy: just add additional path /usr/etc
    harder: add libeconf support

what will be the right one, or maybe there is another one? How I could check from the system if there is vednor path

[2021-02-22 12:54] thkukuk commented on #33
Mid- to long term, no package will be allowed to ship with files in /etc, /etc should only be for host specific files and admin changes. Not only openSUSE, but also systemd and others are working in that direction and some Linux distributions have already finished this job. There is no "final" place in /usr yet, some packages use /usr/{lib,share}/package.d/ or something similar (but sysadmins don'

[2021-03-07 10:13] denisok opened #37 "greetd doesn't work with standalone install"
installing greetd without openSUSEway wouldn't work for the login:
`command = "agreety --cmd $SHELL"` here `$SHELL` is undefined and thus ppl wouldn't be able to login.

We need to define something default in config file for the user, so it could at least login to the shell.

[2021-03-25 09:49] mcepl commented on #37
Just to emphasize that it is actually a sway bug not the openSUSEway one.

[2021-03-25 09:51] denisok commented on #37
greetd default tuning that don't work out of the box then :)

[2021-03-25 09:53] mcepl commented on #37
BTW, https://man.sr.ht/~kennylevinsen/greetd/ is just at least misleading (if not completely wrong):

[2021-03-25 09:59] denisok commented on #37
btw @mcepl how you fixed it for yourself? any hints for default agreety config?

[2021-03-25 10:00] mcepl commented on #37
I haven't. Went back to `gdm` for now. Trying to understand right now what's going on, and the quality of documentation makes me cry.

[2021-03-25 10:02] denisok commented on #37
:) if you use sway check: https://github.com/openSUSE/openSUSEway/tree/master/greetd

this is opensource - they would get contributions for sure.

[2021-03-25 10:07] mcepl commented on #37
OK, that makes at least partially sense. Only, what’s `/etc/greetd/environments`? It is not anything like `/etc/environment` (I don’t see any variables)?

I have to understand the thing first, before I can contribute.

[2021-03-25 10:12] denisok commented on #37
that is for gtkgreet to select session when you login. sway-run is here: https://github.com/openSUSE/openSUSEway/blob/master/sway/sway-run.sh

[2021-03-25 11:35] mcepl commented on #37
Hmm, [this doesn't look good](https://user-images.githubusercontent.com/198999/112466292-fcf41500-8d65-11eb-8fdc-e0021824fdb1.mp4) and these images:

![Screenshot from VID - 4](https://user-images.githubusercontent.com/198999/112466789-86a3e280-8d66-11eb-9187-312965642476.png)
![Screenshot from VID_20210325_120838 mp4](https://user-images.githubusercontent.com/198999/112466800-8a376980-8d66-11eb-8

[2021-03-25 13:45] denisok commented on #37
I have `libseat` errors as well, but it works anyway:
[code]

I don't have other issues.
Only one similar error:
[code]
but that different.

[2021-03-25 13:46] denisok commented on #37
check other logs, maybe there is something with start script or something....

[2021-03-25 14:59] mcepl commented on #37
So, is it an error in gtkgreeter? Wouldn't I be served better by wlgreeter?

[2021-03-25 15:52] kennylevinsen commented on #37
If this example is sourced from greetd, could you open an issue over on https://todo.sr.ht/~kennylevinsen/greetd? Thanks!

[cage](https://github.com/hjdskes/cage) is a simple Wayland compositor. Using sway and wayfire are also popular options.

Gtk applications can't run on their own, and [as the first point int he FAQ states](https://man.sr.ht/~kennylevinsen/greetd/#what-can-greetd-start), the ru

[2021-03-25 16:52] denisok commented on #37
I use gtkgreet it works fine, please attach full logs to investigate, you probably have another issue, like pam one ;) see #33

[2021-03-25 16:58] denisok commented on #37
.
this is a good point, I will check it.
JFYI our spec is here:
https://build.opensuse.org/package/view_file/X11:Wayland/greetd/greetd.spec?expand=1
we build it with default options.

@kennylevinsen as you stopped by, could you check #33 .
For pam I don't have a solution.
As for config there - I was trying to add build option for the greetd to add vendor dir as well, but so far stuck with Rust kno

[2021-03-25 17:22] kennylevinsen commented on #33
I believe a PAM documentation bug is the source of the issue here. From `pam_start(3)`:

The check for `/etc/pam.d/greetd` was implemented based on the above, which does indeed appear inconsistent with `pam(8)`, which makes mention of `/usr/lib/pam.d` and vendor-specific folders. This test is for obvious reasons unaware of compile-time specified PAM vendor dirs, such as the (currently) non-standar

[2021-03-25 17:24] denisok commented on #33
@kennylevinsen will do.

[2021-03-25 17:25] kennylevinsen commented on #37
libseat/seatd use comes from a wlroots-based Wayland compositor being started, not greetd, so that's where you'd have to look.

[2021-03-25 17:40] denisok commented on #33
upstream issues:
https://todo.sr.ht/~kennylevinsen/greetd/19
https://todo.sr.ht/~kennylevinsen/greetd/20

[2021-03-25 17:41] kennylevinsen commented on #37
Just took a look at the other relevant specs. Notes:
- libseat and logind are both enabled in wlroots. They'll be tried in that order. This is fine - we also intend to remove the logind backend from wlroots, and rely on libseat for that in the future, so no harm in being prepared.

- libseat is compiled with seatd support, and no logind support (https://build.opensuse.org/package/view_file/X11:Way

[2021-03-25 19:39] mcepl commented on #37
It is actually your own ``config.toml`` https://todo.sr.ht/~kennylevinsen/greetd/21

Then either don't mention it in the first example, or explain it beforehand.

[2021-03-25 20:22] denisok commented on #37
thanks for the hint, submitted new package with logind enabled:
https://build.opensuse.org/request/show/881388

[2021-03-25 22:10] kennylevinsen commented on #37
It's explained one line above, in step 3 (what you quoted was step 4):

A sway example also immediately follows the cage example.

Improvements are always accepted though. Feel free to send patches. :)

[2021-04-10 23:32] mcepl opened #38 "add some applications to default floating"
Specifically, I suggest adding:
[code]
to ``/etc/sway/config.d/50-openSUSE.conf``, because these two applications (something more?) should be obviously floating by default.

[2021-04-14 17:49] m-rey commented on #38
I have some custom floating rules in my dotfiles: https://github.com/m-rey/dotfiles/blob/master/dot_config/sway/config.d/window_rules

Maybe we could add some of them. Some useful ones are:
[code]

[2021-04-15 14:02] denisok commented on #38
I think that is a good idea, if you could submit PR with it - will be cool. Something like `60-openSUSE-apps.conf` or something like that.

[2021-04-15 17:36] m-rey commented on #38
good idea! I'll do that soonish. Feel free to suggest more entries!
For example something like:
[code]

I'd like to figure out how to move the sharing indicator to the top part of the screen, instead of it being exactly in the center, before submitting a PR. Any suggestions?

[2021-04-19 08:18] denisok commented on #38
I actually to lazy to use any of that :) I have nothing, so whatever you come with - I would use it :)

[2021-04-20 22:30] taschenlampe opened #39 "Gentle suggestions: Swaylock-fancy"
Hi!

First of all: I really like openSUSEway's look and feel, it's really great. Chapeau!

May I suggest that in a future release you may want to consider adding swaylock with some [swaylock-effects](https://github.com/mortie/swaylock-effects)? I think this would make oSw even nicer.

An other nice option would be to add a `"on-click-right": "exec alacritty -e nmtui-connect"` for the network-modul

[2021-04-21 08:05] denisok commented on #39
Hi @taschenlampe,

thanks for the feedback, I will check it out!

Thanks,
Denys

[2021-04-22 17:28] taschenlampe opened #40 "An other suggestion: Update indicator (waybar)"
Hi!
This may be just a personal wish, not sure if anyone else wants this: May I suggest to include an update widget to waybar . I have something like this:

[code]
I must confess that I copied -and slighty adapted- the code from waybar's wiki...I am not 100% about this SIGTMIN+signal function...but heyho, it seems to do what it should do.

Cheers

[2021-04-22 18:21] denisok commented on #40
ha, cool suggestion!. `zypper dup` probably and I will check about the signal.
waybar needs some love for sure, on my AMD laptop temps don't work as well.

Thanks! BTW there will be openSUSE conference, I have submitted a talk about openSUSEway, if you would like to participate - would be awesome :) maybe some feedback during the talk.

[2021-04-28 19:26] taschenlampe commented on #40
Hi!
Sure thing, I'd like to listen to your talk. Though I cannot guarantee that my feedback (if I gave any ) , will make a lot of sense though :-D

[2021-04-28 19:42] taschenlampe opened #42 "An other suggestion: wlsunset (redshift equivalent)"
Just an other suggestion :-)
I use sway on my laptop and I really prefer a blue filter while looking at its screen at nights -> There is this nice little tool that adjusts the gamma for wayland/swaywm [wlsunset](https://sr.ht/~kennylevinsen/wlsunset/). Though there is no rpm for opensuse yet, but it's pretty easy to install.

[2021-05-01 02:51] m-rey commented on #42
I've started packaging it here: https://build.opensuse.org/package/show/home:mrey/wlsunset

[2021-05-01 10:44] jubalh commented on #42
Accepted SR https://build.opensuse.org/request/show/889691 to devel project: https://build.opensuse.org/package/show/X11:Wayland/wlsunset

[2021-05-02 10:47] denisok commented on #42
cool, interesting how to integrate it to the solution ?

[2021-05-02 10:49] denisok commented on #42
run it with something like:
`curl -s http://ip-api.com/json/$(curl -s https://ipinfo.io/ip) | jq '.lat,.lon' | xargs bash -c 'wlsunset -l $0 -L $1'` from sway config ? but what is the way to toggle on/off with way bar ? Something like `pkill wlsunset` ?

[2021-05-02 12:50] jubalh commented on #42
I'm fairly certain that people will complain about making connections to some website without them being aware :D But I don't see another solution out of the box.

[2021-05-02 13:15] taschenlampe commented on #40
Using
`"exec": "zypper lu -a | grep 'v |    ' | wc -l"`
could be an option too (though there is some [issues](https://forums.opensuse.org/showthread.php/553134-Help-me-understand-Difference-between-output-of-zypper-dup-and-zypper-lu-a?highlight=zypper+lu+-a) with it, when you have several repos proposing the same packages. For me this is fine as I know (mas o menos) why I cannot upate all listed p

[2021-05-03 01:54] m-rey commented on #42
wlsunset is packaged and in Factory now https://build.opensuse.org/package/show/openSUSE:Factory/wlsunset

[2021-05-03 09:34] denisok commented on #42
I agree :) we could just add it as config file for sway with everything commented out, and ppl could uncomment if they wish to use it.

[2021-05-05 06:11] #40 closed

[2021-05-16 20:06] mcepl commented on #33
Hmm, still not getting it working. [journalctl-failed-log.txt](https://github.com/openSUSE/openSUSEway/files/6489941/journalctl-failed-log.txt)

[2021-05-17 09:10] denisok commented on #33
@mcepl are you able to reproduce it on VM ? What is your current `/etc/greetd/config.toml` ?

[2021-05-17 10:03] mcepl commented on #33
No time to play with VM.

I believe `/etc/greetd/config.toml` is the one from `openSUSEway` package:
[code]

[2021-05-17 14:11] denisok commented on #33
@mcepl I tried to setup and reproduce, but I can't. The only difference I see : `#include /etc/sway/config.d/*` I don't have `*` at the end in my config file.
Before we had issue #10, and I thought maybe you have some bad file in the dir, but I placed some and it still works.

could you please change `config.toml` with this:
`command = "sway -d --config /etc/greetd/sway-config 2>/tmp/sway.log"` an

[2021-05-17 14:43] denisok commented on #37
fixed downstream with https://build.opensuse.org/request/show/893771

[2021-05-17 14:43] #37 closed

[2021-05-17 15:54] mcepl commented on #33
вот ни черта не понимаю

[sway.log](https://github.com/openSUSE/openSUSEway/files/6495078/sway.log)

[2021-05-17 16:39] denisok commented on #33
@kennylevinsen could you please help us to understand logs that were attached above ?

@mcepl just in case, could you provide output `zypper se -s gtk-layer-shell sway wlr`

[2021-05-17 17:40] mcepl commented on #33
[code]
Yes, I have probably too many repositories enabled...

[2021-05-17 18:35] kennylevinsen commented on #33
The logs look good until the gtkgreet is started.

What appears to happen is:

1. gtkgreet is started in layer shell mode with `-l`
2. gtk-layer-shell initializes, but finds neither wlr_layer_shell(!) nor xdg_shell(!!!) protocol from the compositor
3. gtk-layer-shell bails out and tries to let Gtk do it's normal thing
4. Gtk probably fails too (haven't dug into the output here)
5. gtkgreet tries t

[2021-05-17 19:06] denisok commented on #33
@kennylevinsen thanks for you analyze!

@mcepl could you please try it from command line inside sway ?

[2021-05-17 20:24] mcepl commented on #33
login screen shows lovely absolutely perfectly (even correctly recognizes dual monitor setup with clock on one display).

Will try.

meaning to start in the current sway session? Of course, they work perfectly (this is Firefox, for example).

[2021-05-17 20:31] kennylevinsen commented on #33
Hmm, that sounds like `gtkgreet -l` works right. Could still be a race in gtk-layer-shell or something.

A not too uncommon bug is to assume that globals will be available after cranking the display connection N times, rather than just waiting for them to arrive. Could be something like that.

I meant in the greeter session, instead of gtkgreet. Same with trying `gtkgreet` without `-l`.

As the pr

[2021-05-17 20:54] mcepl commented on #33
You mean to have `/etc/greetd/sway-config`:
[code]

[2021-05-18 14:01] denisok commented on #33
@mcepl :
`exec "gtkgreet; swaymsg exit"`

[2021-05-19 11:51] mcepl commented on #33
[greetd-openSUSEway-33.zip](https://github.com/openSUSE/openSUSEway/files/6508393/greetd-openSUSEway-33.zip)

Using greetd-0.7.0-3.1.x86_64 and sway-1.6-1.2.x86_64 from TW.

[2021-05-19 12:40] denisok commented on #33
@mcepl I see `exec "gtkgreet -l; swaymsg exit"` what about `exec "gtkgreet; swaymsg exit"` ?

[2021-05-19 12:46] mcepl commented on #33
Just black screen, I'll give you logs as well.

[2021-05-19 22:24] mcepl commented on #33
[greetd-log.zip](https://github.com/openSUSE/openSUSEway/files/6511813/greetd-log.zip)

[2021-05-20 06:35] denisok commented on #33
[code]
even less errors, but those 2 still there.

[2021-05-20 18:00] mcepl commented on #33
If the problems are with gtkgreet (and DBus, apparently), shouldn't I switch to wlgreet?

[2021-05-24 17:08] mcepl commented on #33
Hmm, trying wlgreet didn’t help at all:

* https://user-images.githubusercontent.com/198999/119379139-638ea400-bcbf-11eb-99fa-bf5bb96e9ecf.mp4
* [sway.log](https://github.com/openSUSE/openSUSEway/files/6533894/sway.log)
* [journalctl-log.txt](https://github.com/openSUSE/openSUSEway/files/6533895/journalctl-log.txt)

[2021-06-15 16:02] #36 closed

[2021-06-28 11:04] denisok opened #47 "Add style for the wob indicator to match opensuseway"

[2021-06-29 17:15] mcepl commented on #3
Hmm, doesn't work for me. WIthout running `mako` I don't get anything. And yes, dbus seems to be running and `/usr/share/dbus-1/services/fr.emersion.mako.service` is installed:
[code]

[2021-07-20 15:37] denisok opened #48 "change zypper notification in waybar to packagekit"
during openSUSEconf Neil suggested to use PackageKit instead of zypper. I tried and it works:
[code]

[2021-07-20 21:08] ziQ opened #49 "Modularize config"
openSUSEway looks beautiful, but seems a bit too opinionated to me.

It'd be nice to have the presentation separated from the function. It'd also be nice to define settings in one spot and then use (and re-use) them wherever needed. For example, have a central `$lock_screen` definition that gets re-used in all lockscreen keybindings and swayidle calls.

I suggest splitting the config into several

[2021-07-20 21:18] ziQ commented on #48
Are there any benefits to it?

If PackageKit is not part of a default install (and I don't believe it is), there should be a good reason to add more dependencies to openSUSEway.

[2021-07-20 21:46] denisok commented on #48
I think idea is cross platform, so the same waybar config would work for supper, dnf and etc.
Neil idea was actually to join forces together with Fedora on sway configs - check the board, there should be a card about it.

[2021-07-20 21:53] denisok commented on #49
I agree, recently I tried Manjaro Sway build, and it has something similar. Quite a lot complicated, but I would think it is a right way to go.
https://github.com/Manjaro-Sway/manjaro-sway

Mind to submit some PRs with modifications?

[2021-07-21 06:43] denisok commented on #48
another thing is openSUSE MicroOS, which looks like also supports pkcon:
https://github.com/openSUSE/openSUSE-docs-revamped-temp/pull/5/files

And we have an ask to get openSUSEway as desktop option for MicroOS

[2021-07-21 16:33] mcepl commented on #48
PackageKit is cross-platform and there are some tools which are oriented towards non-professional users (Gnome-Software and others), but it is almost useless for Tumbleweed (because it cannot do downgrades, e.g., the equivalent of ``zypper dup``).

[2021-07-21 16:47] denisok commented on #48
@mcepl could you please elaborate on `zypper dup` ? I did `pkcon update` yesterday, and `zypper dup` shows nothing as well after it....

[2021-07-21 16:50] denisok commented on #48
at least I see code understands TW:
https://github.com/PackageKit/PackageKit/blob/main/backends/zypp/pk-backend-zypp.cpp#L1201

[2021-07-21 17:11] mcepl commented on #48
Not always. However, it is not uncommon in TW to have downgrades of packages (version and release numbers in openSUSE/Factory are NOT guaranteed to be always increasing), and then pkcon update fails. If you are always using ``zypper up`` only and you miss those downgrades, you are perfectly fine with pkcon.

Also, pkcon doesn't work well in case your set of packages is not completely OK (e.g., you

[2021-07-21 17:12] ziQ commented on #48
That objective makes sense, of course.

However, installing an additional package manager on a system that already has zypper (or dnf or ...), *just* for providing an indicator seems a bit excessive.

How about a simple adapter script instead (pseudocode)?
[code]

I just think it makes more sense to stay as light on non-essential dependencies as possible.

[2021-07-21 18:39] denisok commented on #48
all of that makes perfect sense.

Lets look into it from different perspective, more or less advanced user (non-standard repos, packages) wouldn't probably even click on that thing. I personally use it more like indicator and as I always have terminal around switching to it with keyboard and type whatever I like `zypper dup` is my way to go.
Even for advanced user that indicator that would work on

[2021-07-21 20:09] mcepl commented on #48
Besides a platform independence for the project which is called *openSUSEway* is most likely not the most important consideration, is it?

[2021-07-21 20:42] denisok commented on #48
while it is only Tumbleweed - no. I we support openSUSE MicroOS - it is a consideration.

[2021-07-21 21:44] ziQ commented on #48
I installed Tumbleweed in a VM today. Picked server install to get a minimal-ish system, set `solver.onlyRequires = true` in `zypp.conf` and `installRecommends = no` in `zypper.conf` to disable installing recommended packages. Then I ran a dist-upgrade.

PackageKit is not present on that system.

(If I were to install it, that'd be an additional 1.9 MiB. Not that bad, but -- from my point of view

[2021-08-09 06:57] nodeg opened #50 "Error: seatd backend"
I followed the instructions on https://en.opensuse.org/Portal:OpenSUSEway on a fresh installed openSUSE Tumbleweed and use sway without login manager. When starting sway after login, I always got the following error message about `seatd`:

[code]
The `seatd` package is installed. Sway works fine, though.

### OS information
[code]

[2021-08-09 12:01] denisok commented on #50
I have that error as well and it works just fine for me too. maybe some packaging issue @jubalh  ?

[2021-08-16 09:14] jubalh commented on #50
I think this is related to libseat server, which we don't use?
Everything should work fine I think.

[2021-08-16 19:30] mcepl commented on #50
We have `systemd-logind` running which should be the equivalent (at least according to `/usr/share/doc/packages/seatd/README.md`). Besides the packaging of seatd seems like a bit incomplete (no systemd unit files):
[code]

[2021-08-16 19:33] jubalh commented on #50
The systemd unit files were omitted because we don't have the seatd server.

[2021-10-05 08:41] mcepl opened #51 "New release?"
I had to restore one computer from backups and I was reminded again how far 0.13 is from our `master`. Could we get a new release?

[2021-10-05 08:48] denisok commented on #51
sure, why not. I actually see some issue with greetd/gtkgreet not starting, maybe I hit #33 . Let me debug it for the few days and make release. You could submit one yourself as well, if you wish it faster.

[2021-11-01 08:13] denisok opened #52 "greeter couldn't start the session"
In #33 @mcepl has an issue with greeter not starting:

[code]

since sometime I also started to have this issue.

I tried tuigreet. And that at least starts but something kills it before I could enter login and password, if I am really quick - I could login.
So probably same happens with gtkgreet, but that just takes more time to start and got killed faster even before showing something.

[2021-11-01 10:07] mcepl commented on #52
Thank you.

[2021-11-01 20:05] denisok commented on #52
@mcepl do you have GDM installed or `/usr/lib/systemd/logind.conf.d/reserveVT.conf` ?

In my case it was it, vt 1 was busy and we explicitly specify `vt = 1` in config file by default. could you try proposed patch and check if it works for you.

[2021-11-01 20:33] denisok commented on #20
@hellcp Thanks for doing it, I installed recently on VM new system and it looks cool!

https://github.com/yast/yast-theme/blob/master/icons/hicolor/scalable/apps/pattern-sway.svg
https://github.com/yast/yast-theme/blob/master/icons/hicolor/scalable/apps/pattern-sway-openSUSE.svg

[2021-11-01 20:33] #20 closed

[2021-11-02 09:00] mcepl commented on #52
I have GDM installed (that's the only loging manager which actually works for me) and
[code]

[2021-11-02 09:15] denisok commented on #52
cool. @mcepl could you try the fix?

[2021-11-02 17:45] mcepl commented on #52
see the comment in the pull request.

[2021-11-02 20:03] #52 closed

[2021-11-02 21:11] denisok commented on #51
done:
https://github.com/openSUSE/openSUSEway/releases/tag/0.14
https://build.opensuse.org/request/show/928865

[2021-11-02 21:11] #51 closed

[2021-11-17 22:57] mcepl commented on #33
I think this ticket should be closed. No, openSUSEway experience with greetd is far from perfect, but I think this becomes obsolete. I will eventually open new ticket for new issues (e.g., currently it seems to me I don’t have working any Gnome programs, unfortunately including NetworkManager and keyring).

[2021-11-17 22:57] #33 closed

[2022-02-01 15:01] taschenlampe opened #54 "Update issue sway 1.7"
Hi!

I found following message from zypper this morning: (I guess I dont need to translate this into english)

[code]

How should I proceed as Option 1 would nuke openSWAY

[code]

Of course removing openSUSEway is clearly not an option :-D

[2022-02-01 15:10] jubalh commented on #54
You should choose ` Lösung 3: sway-1.7-1.1.x86_64 durch Ignorieren einiger Abhängigkeiten brechen`.

It's caused by `Requires:       %{name}-branding = %{version}`.

@denisok  how should we handle this? Do you want to bump the branding package each time an update is done? Or should we put a <= 1.6 there and update manually each time? Remove the version thing?
Nothing sounds perfect :)

[2022-02-02 15:43] denisok commented on #54
hm, I don't remmeber now how did it work, but I think this was added there: `%define sway_version %(rpm -q --queryformat "%%{version}" sway)` for that reason.

Maybe we should do `Provides:       sway-branding = %{sway_version}` . But interesting how did it work before. Because there is a same thing for the waybar, and that was updated number of times.

Need to investigate and refresh my memory ab

[2022-02-02 18:33] mcepl commented on #54
I am not sure whether it is exactly sway’s problem, but with the latest updates I got even greetd broken:

![IMG_20220201_222718](https://user-images.githubusercontent.com/198999/152215734-1b0b0c46-48e6-4c12-945d-36bc8d5fa43a.jpg)

Unfortunately, I don’t have other debugging information than that I am using:
 * greetd-0.8.0-2.1.x86_64
 * openSUSEway-0.14-1.3.noarch
 * sway-1.7-1.1.x86_64
 * wlgree

[2022-02-02 19:48] denisok commented on #54
@mcepl is that reproducible ? could you change service file and add that `RUST_BACKTRACE`? I am going to update and see :)

[2022-02-02 19:52] mcepl commented on #54
Sorry, I am too tired and with had too much somewhere else. Where exactly should I put and what?

[2022-02-02 22:07] denisok commented on #54
@jubalh  so the issue is after these changes:
https://build.opensuse.org/package/rdiff/X11:Wayland/sway?linkrev=base&rev=109#n50
https://build.opensuse.org/request/show/949422

that actually added dependency on the version. it wasn't there before. I don't know why that change was made

[2022-02-02 22:18] denisok commented on #54
in `/usr/lib/systemd/system/greetd.service` in `[Service]` section
[code]

[2022-02-02 22:25] jubalh commented on #54
Oh!
I even asked the contributor about this whole block in: https://build.opensuse.org/request/show/948519
He mentioned rpmlint suggested this. My bad!

I can remove the version part tomorrow!

[2022-02-02 22:27] denisok commented on #54
https://build.opensuse.org/request/show/950825

done :)

[2022-02-02 22:37] denisok commented on #54
Interesting.

it might be deprecated, but wiki still says it is not:
https://en.opensuse.org/openSUSE:Packaging_Branding

I tried to specify specific version (as 1.7) but it doesn't work. There should be additional magic then. But if it is deprecated - why it works? :) Probably I tried to fix those warning in the past, that why I have `sway_version` macro, but I failed.

I tried once again now, bu

[2022-02-02 23:07] Arnavion commented on #54
I have no opinion either way on what the specfile should say. The RPM lint suggested it, and the packages worked for me with its suggestions (I don't use openSUSEway or greetd, just sway and sway-branding-upstream directly), so I didn't know there was a problem. Thanks for fixing it.

[2022-02-02 23:08] denisok commented on #54
no problem, you did well to try to fix it. Thanks for feedback and approval.

[2022-02-02 23:32] denisok opened #55 "greetd thread 'main' panicked"
greetd doesn't start and show panic traces:

for @mcepl :
https://user-images.githubusercontent.com/198999/152215734-1b0b0c46-48e6-4c12-945d-36bc8d5fa43a.jpg

for me:
[code]

I have enabled full trace in `/usr/lib/systemd/system/greetd.service` in [Service] section:
[code]

but it shows just bunch of `unknown`.

[2022-02-02 23:33] denisok commented on #55
@mcepl could you try that `full` trace and see if you see some more info?

[2022-02-02 23:36] denisok commented on #55
I think my problem differs from Matěj's . I use MicroOS and there could be different issues with access and etc.

[2022-02-03 01:46] mcepl commented on #54
![IMG_20220203_023159](https://user-images.githubusercontent.com/198999/152267485-4ab337bd-5cc5-435e-84e7-7b94720e0055.jpg)

This is probably the best what I can find.

[2022-02-03 12:15] mcepl commented on #55
Mine is https://user-images.githubusercontent.com/198999/152267485-4ab337bd-5cc5-435e-84e7-7b94720e0055.jpg

and the error is:
[code]

[2022-02-04 22:08] Arnavion commented on #55
@mcepl greetd doesn't have `src/app.rs`. Also the first error about `wl_output` is a chromium / electron bug. The `common/ipc-client.c` error is from swaymsg successfully connecting to sway but then connection breaks. That means greetd is successfully starting a sway session, which is then starting some default programs (including some Rust program, swaymsg and polkit-gnome-authentication-agent),

[2022-02-05 00:12] mcepl commented on #55
WHAT? Electron? I really cannot find anything which would depend on Electron automatically being started:
[code]
`mako`? I really no clue.

[2022-02-08 23:31] mcepl commented on #55
Also, the content of `/etc/greetd` directory:
[code]

I really don’ŧ see any Electron app here.

[2022-02-14 08:50] mcepl commented on #55
New datapoint. With almost default `/etc/greetd/config.toml`:
[code]
(now looking at it, I should probably really add full path to `sway-run.sh`, shouldn’t I?)

So, with this configuration, I get repeatedly crashing login prompt, which finally settles and I can login to the plain bash session, where I can run `sway` command.

This is the full [`journalctl -xb`](https://github.com/openSUSE/openSUSE

[2022-02-14 20:50] mcepl commented on #55
@Arnavion What an interesting thing to say! https://git.sr.ht/~kennylevinsen/wlgreet/tree/master/item/src/app.rs

[2022-02-14 22:40] denisok commented on #55
it should be in a PATH, but if it is not it at least would go to the interface to login and then would complain that is can't run shell or something.

I use: `command = "tuigreet --cmd sway-run.sh"` and it works fine on my another box.

for you agreety, it should work. In the log you attached, I see only this suspicious:
[code]

was it working before and stopped after some update. or this is a new

[2022-02-14 23:05] mcepl commented on #55
[code]

[2022-03-22 08:43] lkocman commented on #1
Guys you've missed Leap completely. Let me add it as part of this one https://code.opensuse.org/leap/features/issue/68

[2022-03-22 09:04] denisok commented on #1
@lkocman #7

[2022-03-22 09:11] denisok commented on #7
https://build.opensuse.org/project/monitor/X11:Wayland?arch_x86_64=1&defaults=0&repo_15_4=1&unresolvable=1
https://build.opensuse.org/project/monitor/X11:Wayland?arch_x86_64=1&defaults=0&failed=1&repo_15_4=1

[2022-04-17 09:47] denisok commented on #55
so in my case (using openSUSE MicroOS) the crash is kinda destined:
[code]

when

[code]

[2022-04-17 10:26] denisok commented on #55
at the end that is SELinux:

[code]

[2022-04-18 08:32] mcepl commented on #55
I have filed https://bugzilla.suse.com/show_bug.cgi?id=1198559 security bug for it and I would be grateful for your participation on it.

[2022-05-30 15:55] etam commented on #42
There is GeoClue for getting location: https://gitlab.freedesktop.org/geoclue/geoclue/-/wikis/home

Found it used here: https://phabricator.kde.org/source/plasma-redshift-control/browse/master/package/contents/ui/config/ConfigAdvanced.qml

[2022-06-01 16:49] denisok opened #58 "change greetd package to UsrEtc config"
Change config location to `/usr/etc` for `greetd` in openSUSE.

https://todo.sr.ht/~kennylevinsen/greetd/20

actually we can pass `--config` as the parameter in service file:
https://git.sr.ht/~kennylevinsen/greetd/tree/master/item/greetd.service#L9

to support `/usr/etc` config instead of `/etc/`: https://build.opensuse.org/package/show/X11:Wayland/greetd

[2022-06-04 11:16] danyspin97 opened #62 "Switch from mako to SwayNotificationCenter"
[SwayNotificaitonCenter](https://github.com/ErikReider/SwayNotificationCenter) is more user-friendly than mako and provides a toggable bar with all the unread messages. I think it would be a good addition to openSUSEway. A button can be added in waybar to toggle this panel.

[2022-06-08 09:38] taschenlampe commented on #62
Hi!
This might not be the correct place to ask, but since @danyspin97  mentioned  SwayNC, I tried to install it, but I got stuck here:

[code]
Any ideas how to get rid of these errors?
Peace!

[2022-06-08 09:44] danyspin97 commented on #62
Hi @taschenlampe, you can try my WIP package in my home project:

https://build.opensuse.org/package/show/home:dspinella/SwayNotificationCenter

[2022-06-08 09:45] mcepl commented on #62
Seems to work well, looks more readable than mako.

[2022-06-08 12:14] taschenlampe commented on #5
Not sure, as this issue seems to be close, but is clipman already included in openSUSEway, can't find any traces of it?
(I think it would make sense, as it integrated pretty well in (at least) my workflow. Using Mod+c (for clipman) quite often.)

[2022-06-08 12:29] taschenlampe opened #63 "add an scratchpad-indicator to waybar"
This is really just a cosmetic thing and rather a nice to have. There is a [reddit post](https://www.reddit.com/r/swaywm/comments/re89s3/waybar_scratchpad_indicator/) about an[ scratchpad-indicator.](https://github.com/justinesmithies/sway-dotfiles/commit/c8cba5215f0e94c51a6d6e3c9ad5fe373edc0ace#diff-cb4b857ece2e4549faa5ceb3370836f92b04487565f50cc9ce589d6c9e6d4810) I use it and it makes sense just

[2022-06-09 07:53] denisok commented on #5
lets reevaluate

[2022-06-12 21:26] yoogui opened #64 "Trying to change default shell to fish"
Hi all.
I'm trying to change the default shell to fish, but when I do that, sway doesn't start from login manager (sddm in my case). Plasma starts well. If I revert the default shell to bash, sway boots from sddm without problem.

I don't know if the problem is maybe de .sh wrapper file invoked from de sway.desktop or anything else.

Can you help me with this issue?
Thanks.

[2022-06-13 07:41] mcepl commented on #64
Don’t setup fish as a shell for root, because (quoting its help): “Fish is intentionally not POSIX-compatible and as such some of the things you are used to work differently.”, so whenever any script has a shebang `#!/bin/sh` (which is almost all of them) it fails.

[2022-06-15 10:05] yoogui commented on #64
Thank for the advice. I read the fish documentation and other articles related to login and interactive shells, and I decide to leave fish as a interactive shell for commands and navigating purposes. Still leave bash as a default login shell.

[2022-06-15 12:20] #64 closed

[2022-06-15 21:17] bobblkabb opened #65 "fontawesome"
Installed Leap with "minimal installation" to add openSUSEway via the pattern file. This file should include fontawesome because of the waybar icons.

[2022-07-10 08:36] denisok commented on #62
cool. Lets replace mako with it. I submitted package to X11:Wayland and lets push it to Factory to add to the openSUSEway

[2022-07-10 08:38] denisok commented on #62
CC @jubalh https://build.opensuse.org/request/show/988089 please check and accept :)

[2022-07-10 08:58] denisok commented on #65
Hi @bobblkabb, thanks for reporting. I actually see that package in the pattern:
[code]

and `sway-branding-openSUSE` includes it:
[code]

I think Leap doesn't have openSUSEway pattern, does it ? How did you install openSUSEway on Leap?

maybe you used `patterns-sway`? : https://build.opensuse.org/package/view_file/X11:Wayland/patterns-sway/patterns-sway.spec?expand=1

that doesn't have fontawesom

[2022-07-10 09:15] #47 closed

[2022-07-10 09:20] denisok opened #69 "improve default bindings and tools for openSUSEway"
Hi!

I know that configuring your system is kind of very user specific, still I´d like to share some adjustments I made, that may be useful for others:

*[Autotiling](https://pypi.org/project/autotiling/)
I know this is not something all i3/sway users will like, as it is not the default way how sway works, nonetheless I find this tool to be very cool.

*[Udiskie](https://github.com/coldfix/udiskie

[2022-07-10 09:22] denisok commented on #58
@danyspin97 maybe you could help with this one ?

[2022-07-10 09:36] denisok commented on #5
@mcepl or @taschenlampe could you please submit PR to add that into the https://github.com/openSUSE/openSUSEway/blob/main/.config/sway/config.d/50-openSUSE.conf ?

As you probably have it configured, it should be easy for you.

As for wl-clipboard vs clipman, looks like `clipman` has more features and integration with wofi.

[2022-07-10 14:55] mcepl commented on #5
My `~/.config/dotfiles/sway/config.d/40_clipboard.conf` is:
[code]

[2022-07-11 07:04] jubalh commented on #62
Done :)

[2022-07-11 07:38] denisok commented on #62
@danyspin97 build failed for i586: https://build.opensuse.org/package/show/X11:Wayland/SwayNotificationCenter
check it out please. After it fixed - we can push to Factory.

[2022-07-11 08:22] uncomfyhalomacro opened #72 "Consider using Yambar as bar and Fuzzel as launcher."
## Choosing Yambar
Reasons: Minimalist setup
Cons: Yambar does not have tray support

## Choosing Fuzzel
Reasons: Very minimal dependencies. Looks good and easy to setup. Wofi uses GTK which is somewhat unnecessary for a launcher. Also wofi is currently unmaintained. Though there are bug fix and documentation related commits, it seems the author is not removing the "not actively maintained" header

[2022-07-11 08:59] jubalh commented on #72
Those reasons will only make sense if we not already depend on these things already anyways.

[2022-07-11 16:59] danyspin97 commented on #62
Hi @denisok, it was an issue with the workaround I added in the spec file for the systemd service and now the i586 build has been fixed.

[2022-07-12 22:19] FilippoBonazziSUSE commented on #62
Hi, I've submitted SwayNotificationCenter v0.6.3 to X11:Wayland: https://build.opensuse.org/request/show/988762

I've also added a `_service` file which hopefully will be useful to submit future versions

[2022-07-13 07:19] denisok commented on #62
@FilippoBonazziSUSE thanks for update, btw I see `obscpio ` and `tar.gz` I thought it is either one or another. As I remember `obscpio ` is just better format to be stored inside obs. So maybe we don't need `tar.gz` there? But I am not sure. @jubalh is much more experienced package maintainer.

[2022-07-13 07:43] jubalh commented on #62
That's right AFAIK.
https://build.opensuse.org/request/show/988917

[2022-07-13 10:29] taschenlampe commented on #5
My config looks similar but with little diffs, as I have compiled clipman into ~/.local therefore the path are different to mcepl's.

Using additional parameters --tool-args in line1 should open wofi in the current (opensway-)css style

[code]
Comparing the parameters used by @mcepl , could you please explain why you use    "-n" and  "--histpath="~/.cache/clipman.json" >> /tmp/clipman-log.txt 2>&1

[2022-07-27 13:10] mcepl opened #74 "Some missing utilities which could be included"
When discussing https://www.reddit.com/r/openSUSE/comments/w92o0w/comment/ihtrne4/?context=3 I have just checked that we are including in our default sets of packages everything which normal user of sway can use. I have checked packages which I use and which are not included in openSUSEway and sway patterns:

 * [ ] clipman
 * [ ] mpris-ctl
 * [ ] sway-marker
 * [ ] wl-clipboard

Do we have all in

[2022-07-27 13:31] mcepl commented on #72
Yes, but if we want be pushing in that direction we will never get there.

[2022-08-26 16:56] mcepl opened #75 "Add rofi styling"
Yes, I understand that we prefer [wofi](https://hg.sr.ht/~scoopta/wofi) for our menu application system (although, that seems to be abandoned), but [rofi](https://build.opensuse.org/package/show/home:mcepl:work/rofi-wayland) seems to be much more capable, so there are applications based on it (e.g., I use [pinentry-rofi](https://build.opensuse.org/package/show/home:mcepl:work/pinentry-rofi)), whic

[2022-10-03 21:42] taschenlampe commented on #5
This is how it look here with my settings...seems ok to me, @mcepl @jubalh to me

![20221003_23h32m35s_grim](https://user-images.githubusercontent.com/10836480/193690552-6efa199a-c6cf-4a8c-bb43-027cf2034e01.png)

[2022-10-04 07:20] mcepl commented on #5
I am not sure about `-n` actually. Perhaps, it is just a mistake. And `--histpath` should be obvious from `--help`, isn’t it?

[2022-10-04 13:48] taschenlampe commented on #5
I am a little confused as @mcepl 's --histpath seems not to work on my system. First I though that this is due to the fact that I have compiled clipman on my own, but even with OSuse rpm I failed to get  wofi to show the copied commands.

[code]
I remember that I struggled a while to get this working some months ago, maybe I "did something" that I can't recall now.
@all: Could someone please test

[2022-10-11 13:28] taschenlampe commented on #5
I rechecked this should be correct way -from a fresh install:
[code]
I have clipman.json "~/.local/share/clipman.json" not sure why "~/.cache/clipman.json" is true @mcepl

[2022-10-11 16:24] mcepl commented on #5
Yes, you are right, I have mostly copied you settings.

[2022-11-05 22:15] mcepl opened #79 "Something's weird with waybar"
Using sway-1.7-4.3.x86_64 and waybar-0.9.15-1.2.x86_64 and with one of the latest upgrades (this week) I get some icons on waybar hidden:

![Uploading screenshot-2022-11-05_23-11-1667686163.png…]()

That’s `~/.config/waybar/style.css` identical with `/etc/xdg/waybar/style.css` from the package.

[2022-11-06 09:15] jubalh commented on #79
See https://github.com/Alexays/Waybar/issues/1759

[2022-11-16 20:39] #63 closed

[2022-11-17 17:47] FilippoBonazziSUSE commented on #54
Is this still relevant?

[2022-11-19 21:06] mcepl commented on #54
Let’s kill it for now.

[2022-11-19 21:06] #54 closed

[2022-11-20 12:59] taschenlampe commented on #54
Yes, this can be closed.